<header class="navbar">
  <section class="navbar-section left">
    <%= link_to root_path do %>
      <%= image_tag 'logo.svg' %>
    <% end %>
  </section>
  <section class="nav-item dropdown navbar-section right">
    <div class="provider">
      <i class="fas fa-circle"></i>
      <div id="current_provider"></div>
    </div>
    <% if user_signed_in? %>
      <%= link_to "#", class: "nav-link dropdown-toggle commonNavIcon profile-icon ", id:"navbarDropdown",role:"button",:data=>{:toggle=>"dropdown",:role=>"button"},aria:{haspopup:true, expanded:false} do %>
        <figure class="avatar profile">
          <%= image_tag avatar_url(current_user), class: "round-img" %>
        </figure>
      <% end %>

      <!--      <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
      <%#= link_to "Edit User", edit_user_registration_path, class:"dropdown-item" %>
      <!--        <div class="dropdown-divider"></div>-->
      <%#= link_to "Sign Out", destroy_user_session_path, class:"dropdown-item",method: :delete %>
      <!--      </div>-->

      <div id="user_address"></div>
    <% else %>
      <button class="btn"><%= link_to "Sign In", new_user_session_path %></button>
    <% end  %>
  </section>
</header>
<%= javascript_pack_tag 'navbar' %>
