<div class="columns col-gapless documents index">
  <h2 class="column col-6">Document Here</h2>
  <%= link_to new_document_path , class:"btn btn-primary btn-lg btn-action s-circle col-2 col-ml-auto" do %>
    <i class="icon icon-plus"></i>
  <% end %>
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>name</th>
    <th>auther</th>
    <th class="transactionHash">Transaction Hash</th>
    <th>created date</th>
    <th></th>
  </tr>
  </thead>
  <% @documents.each do |document| %>
      <tbody>
        <tr>
          <div>
            <td><%= link_to(document_path(document)) do %><%= document[:file] %><% end %></td>
            <td><%= document.user.name %></td>
            <td >
              <%= link_to("/") do %>
                0xba32cabc0dc5f37c15aca417803fbee68b5d85fe2268ba4f9f89d4cd141b6a54
              <% end %>
            </td>
            <td><%= document.created_at.strftime("%Y年%m月%d日") %></td>
            <td>
              <%= link_to(document_path(document), method: :delete) do %>
                <i class="icon icon-delete"></i>
              <% end %>
            </td>
          </div>
      </tr>
    </tbody>
  <% end %>
</table>
<div id='app'></div>
<%= javascript_pack_tag 'hello_vue' %>